*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url("../src/assets/web_bg.png"); */
    background-color: rgb(1, 17, 16);
    height: 100vh;
    color: white;
    font-family: outfit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}